<div class='title-container'>Login</div>

<%= form_tag sessions_path do  %>
<div class="form-container"" >
  <div class='error'><%= flash[:alert] %></div>
 
  <%= text_field_tag 'email', params[:email], {:autocomplete => "off"} %>
  <%= password_field_tag 'password', nil, {:autocomplete => "off"} %>
  <%= submit_tag 'Login' %>
</div>
  <div>
    you can use following accounts to sign in
    <div>
      <table cellspacing='2' cellpadding='2'>
        <tr>  
          <td><%= link_to image_tag("myopenid.png"), "/auth/myopenid" %></td>
          <td><%= link_to image_tag("github.png"), "/auth/github" %></td>
          <td><%= link_to image_tag("facebook.png"), "/auth/facebook" %></td>
          <td><%= link_to image_tag("twitter.png"), "/auth/twitter" %></td>
          <td><%= link_to image_tag("google.png"), "/auth/google_oauth2" %></td>
        </tr>
      </table>  
    </div>  
        <div>

    </div>  
  </div>   
<% end %>
