
<h1><%= ['edit','update'].include?(params[:action]) ? 'Edit Task' : 'Add new task' %></h1>
<p id="notice"><%= notice %></p>
<div>
  <%= form_for(@task) do |f| %>
    <div>
      <div><%= f.text_field :title %> <%= f.submit 'Go' %> </div>
  <% end %>
</div>

<h1>Pending tasks</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Completed</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<% @pending_tasks.each do |task| %>
  <tr>
    <td><%= task.title %></td>
    <td>Pending</td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<h1>Completed tasks</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Active</th>
    <th>Deleted at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @completed_tasks.each do |task| %>
  <tr>
    <td><%= task.title %></td>
    <td>Completed</td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />


