<!DOCTYPE html>
<html>
<head>
  <title>Todos</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- container starts here -->
  <div class='container'>

    <!-- header starts here -->  
    <div class='layout-header'>
      <span><%= image_tag('task.png', {:class => 'logo'}) %></span>
      <span class='caption'>My todays task</span>   
      <% unless current_user %>
        <span class='menu'><%= link_to 'blog', '/blog' %></span>
        <span class='menu'><%= link_to 'login', '/login' %></span>
        <span class='menu'><%= link_to 'signup', '/signup' %></span>
     <% else %>   
      <span class='menu'><%= link_to 'Logout', '/logout' %></span>
      <span class='menu'><%= link_to 'MyProfile', '/profile' %></span>
      <span class='menu'><%= link_to 'Dashboard', '/tasks' %></span>
     <% end %> 
    </div> 
   <!-- header ends here -->

    <!-- content section starts here -->
    <div class='layout-content'>
      <div class='content'><%= yield %></div>
    </div>   
    <!-- content section ends here -->

    <!-- footer starts here -->
    <div class='layout-footer'>
      <div></div>
    </div> 
   <!-- footer ends here -->
    
   </div>
   <!-- container ends here -->

</body>
</html>
